/* */

#table {
	display: table;
	margin: 20px auto;
}

.column {
	display: table-row;
	width: 80px;
	text-align: center;
	padding: 10px
}

.row {
	display: table-cell;
	width: 80px;
	text-align: center;
	padding: 10px;
}

#line {
	border: solid 1px black;
}